body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
	list-style-type: none;
	margin-bottom: 0 !important;
	padding: 1em;
}

li {
	display: inline;
	padding: 1em;
}

a {
	color: inherit !important;
	text-decoration: none !important;
}

li * {
	display: inline;
	width: fit-content;
}

.card {
	max-width: 300px;
}

.flex-row {
	margin-bottom: 2em;
}

.result {
	border: black solid 1px;
	padding: 0.5em;
	margin-bottom: 2em;
}

.base-pair {
	width: 60%;
	margin: auto;
	margin-bottom: 1em;
}

.main-content {
	width: 80%;
	margin: auto !important;
}

.footer {
	position: fixed;
	bottom: 0;
	margin-bottom: 0;
	width: 100%;
}

.popup {
	position: fixed;
	height: 340px;
	width: 750px; 
	top: 50%;
	left:50%;
	margin-top: -170px;
	margin-left: -375px;
}

.popup button {
	float: right;
	margin-top: 0.5em;
	margin-right: 0.5em;
}

.popup .text {
	padding: 2em;
}

#li:hover, #disclaimerBtn:hover {
	background-color: rgb(210, 217, 223);
	cursor: pointer;
}

#attribution {
	float: right;
	padding: 0;
}

#root {
	min-height: 100vh;
}

#search {
	margin-bottom: 2em;;
}